<h1 class="mt-5" style="font-size: 38px;"><%= @article.title %></h1>

<div class="mt-4">
  <p class="pt-4 ps-3" style="font-style: italic;"><%= @article.content %></p>
  <p class="ps-3" style="font-size:14px;">
</div>
